* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-card: #e1e1e6;
  --bg-card-selected: #02799d;
  --bg-card-dark: #29292e;
}

.dark-toggle {
  background-color: black;
  color: white;
}

.darkmode {
  position: relative;
}
.darkmode img {
  position: absolute;
  top: 6rem;
  right: 6rem;
  transition: scale 0.3s;
}

.darkmode img:hover {
  scale: 1.1;
  cursor: pointer;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10rem, 2rem + 10vw, 20rem);
  height: 100vh;
}

@media (max-width: 760px) {
  main {
    flex-direction: column;
  }
}

span {
  font-size: 12.6rem;
  font-family: "Roboto", sans-serif;
}

.clock {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.timer-controls {
  padding: 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer-controls img:hover {
  cursor: pointer;
}

.pause-button {
  scale: 0.92;
}

.hide {
  display: none;
}

.card {
  padding: 4.8rem 4.2rem 5.8rem;
  background: var(--bg-card);
  border-radius: 24px;
  transition: scale 0.3s;
  position: relative;
}

.volume-slider {
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
  right: 2.4rem;
  width: 65%;
  height: 0.4rem;
  appearance: none;
  background: black;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.volume-slider::-webkit-slider-thumb {
  /* Cor do polegar do slider para navegadores baseados em Webkit */
  background-color: red; /* Substitua pela cor desejada */
}

.volume-slider::-moz-range-thumb {
  /* Cor do polegar do slider para navegadores baseados em Mozilla Firefox */
  background-color: green; /* Substitua pela cor desejada */
}

div .dark-toggle {
  background-color: var(--bg-card-dark);
}

div .dark-toggle img {
  filter: invert(1) sepia(1) saturate(0) hue-rotate(180deg);
}

div .darker img {
  filter: invert(1) sepia(1) saturate(0) hue-rotate(180deg);
}

div .darker {
  background-color: black;
}

.card:hover {
  scale: 1.05;
  cursor: pointer;
}

.themes-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}
